.loginWrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 88px);
}

.signInTitle
{
    text-align: center;
}

.loginFormWrapper
{
    text-align: center;
}

.loginFormWrapper
{
    max-width: 480px;
    width: 100%;
}

.formLink
{
    text-decoration: none;
    color:#4C4CFF;
    transition: 0.3s;
}

.formLink:hover
{
    text-decoration: underline;
}

.loginForm 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 24px;
    align-items: center;
}

div[class="input pr-6 pl-6 input_type_email input_size_default"],
div[class="input pr-6 pl-6 input_type_password input_size_default"],
div[class="input pr-6 pl-6 input_type_email input_size_default input_status_active"],
div[class="input pr-6 pl-6 input_type_password input_size_default input_status_active"],
div[class="input pr-6 pl-6 input_type_text input_size_default input_status_active"],
div[class="input pr-6 pl-6 input_type_text input_size_default input_status_error"],
div[class="input__container"]
{
    max-width: 480px;
    width: 100%;
}