@import url("utils/normalize.css");

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: bold;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.ttf") format("ttf");
} 

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 500px) {
  .constructor-element .constructor-element__price {
    font-size: 22px;
  }
  .constructor-element .constructor-element__action {
    display: none;
  }
}

